<h1>BURGER ME BABY!</h1>

<h2>Burgers that Brings Inner Peace!</h2>

<ul>
  {{#each burgers}}
    {{#unless devour}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2> BURGERS WITH PIZZAZZ!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add A Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"> Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour?</label><br>
    <input type="radio" name="devour" value="1" checked> Devoured!<br>
    <input type="radio" name="devour" value="0"> Try Me!
  </div>

  <button type="submit">Add Burger</button>
</form>
