<h1>BURGER ME BABY!</h1>

<h2>Burger Menu</h2>

<ul>
  {{#each burgers}}
    {{#unless devours}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2> Burgers With Pizazz!</h2>

<ul>
  {{#each burgers}}
    {{#if devour}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add A Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca"> Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Order?</label><br>
    <input type="radio" name="devours" value="1" checked> Add!<br>
    <input type="radio" name="devours" value="0"> Ordered!
  </div>

  <button type="submit">Add Burger</button>
</form>
