/* Body Image and Layout Tags */
body, html {
  height: 100%;
  background-image: url("/images/burger1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: orangered;
  background-color: rgb(107, 99, 99);
  align-items: center;
  align-content: center;
  text-align: center ;
  /* content: url("https://www.pexels.com/photo/advertisement-advertising-architecture-background-617230/"); */
}

/* List Color */
li {
    padding: 5px;
    /* margin: 5px; */
    margin-left: 100px;
    margin-right: 100px;
    background: rgb(24, 17, 17);
    block-size: 50px;
  }
  
  .label {
    font-weight: bold;
    text-align: center;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  h1 {
   color:rgb(0, 0, 0);

  }

  h2 {
    color:rgb(255, 238, 1);
  }

  .one {
    color: rgb(0, 0, 0);
    background-color: rgb(67, 197, 95);
  }
  .bname {
    color: orangered;
    background: rgb(24, 17, 17);
  }